:root {
  --default-font-family: "Nunito", sans-serif;
  --footer-color: #f9f7fe;
  --background-main-color: white;
  --background-nav-color: #f8f9fa;
  --recipe-title-color: #272142;
  --active-link-color: #662eed;
  --step-color: #f65282;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--background-main-color);
}

footer {
  height: 80px;
  background: var(--footer-color);
  padding: 30px 50px;
}
footer a {
  color: var(--recipe-title-color);
}

footer a:hover {
  color: var(--active-link-color);
}

footer p {
  font-weight: 400;
  font-size: 10px;
  line-height: 3;
}
h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  text-align: center;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
}

h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}
.contact p {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--active-link-color);
}
.contact a {
  text-decoration: none;
}

.contact-me {
  margin-bottom: 100px !important;
}

.about-me {
  color: var(--recipe-title-color);
}
.about-me h2 {
  font-size: 64px;
  line-height: 87px;
}

.about-me p {
  font-size: 18px;
  line-height: 30px;
}

.about-me a {
  color: var(--recipe-title-color);
  margin-left: 30px;
}

.desc {
  font-size: 16px;
  line-height: 30px;
}
.footer-logo {
  height: 20px;
}

.icon {
  margin-left: 40px;
  font-size: 1.5em;
}

.logo {
  width: 100px;
}

.main-link {
  color: var(--active-link-color);
  font-weight: 700 !important;
  transition: all 100ms ease-in-out;
}

.item-link {
  font-weight: 700 !important;
  color: #272142;
  transition: all 100ms ease-in-out;
}

.hero {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero h1 {
  color: white;
}

.hero h2 {
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: white;
}

.recipe-card {
  padding: 20px;
}

.recipe-card a {
  text-decoration: none;
  color: var(--recipe-title-color);
  font-size: 24px;
  font-weight: 700;
}

.sign {
  font-size: 10px;
}

.recipe {
  max-width: 760px;
}
.recipe img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-height: 450px;
}
.recipe p {
  border-bottom: 1px dashed #67d5d2;
}

.step {
  color: var(--step-color);
}
@media (max-width: 1200px) {
  .about-me h2 {
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  h4 {
    font-size: 18px;
    line-height: 1;
  }
  .desc {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 48px;
    line-height: 1;
  }

  .hero h2 {
    font-size: 24px;
    line-height: 1.5;
  }
  .about-me h2 {
    font-size: 32px;
    line-height: 1.5px;
  }

  .about-me p {
    font-size: 14px;
    line-height: 1.5;
  }

  .recipe-card a {
    font-size: 20px;
  }

  .logo {
    width: 80px;
  }
  .contact {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .hero h1 {
    font-size: 24px;
    line-height: 1;
  }

  .hero h2 {
    font-size: 16px;
    line-height: 1.5;
  }

  .icons {
    margin: 0 auto;
  }

  .icon {
    font-size: 1.5em;
  }

  .recipe-card a {
    font-size: 16px;
  }

  h4 {
    text-align: center;
  }
  .desc {
    text-align: center;
  }
  .follow-me {
    text-align: center;
  }

  .about-me h2 {
    text-align: center;
  }

  .about-me p {
    text-align: center;
  }
  .recipe h2 {
    text-align: center;
  }
}
